@import 'constants.module';// CSS常量

:root {
    // 主颜色
    --clr-primary-num:#{$colorPrimaryNum};
    --clr-primary-1: rgba(var(--clr-primary-num), .1);
    --clr-primary-2: rgba(var(--clr-primary-num), .2);
    --clr-primary-3: rgba(var(--clr-primary-num), .3);
    --clr-primary-4: rgba(var(--clr-primary-num), .4);
    --clr-primary-5: rgba(var(--clr-primary-num), .5);
    --clr-primary-6: rgba(var(--clr-primary-num), .6);
    --clr-primary-7: rgba(var(--clr-primary-num), .7);
    --clr-primary-8: rgba(var(--clr-primary-num), .8);
    --clr-primary-9: rgba(var(--clr-primary-num), .9);
    --clr-primary: rgba(var(--clr-primary-num), 1);

    --clr-white: #fff; // 纯白色
    --text-primary: var(--clr-white); // 全局文本颜色
    --button-primary: var(--clr-primary-10); // 全局按钮颜色

    // 侧边栏
    --sidebar-bg:#{$sidebarBg}; // 背景色
    --sidebar-item-text: #{$sidebarItemText}; // 文本色
    --sidebar-item-hover: #{$sidebarItemHover}; // 菜单项hover背景色
    --sidebar-width: 210px; // 侧边栏宽度
    --sidebar-collpse-width: 64px; // 侧边栏折叠宽度
}