// 测边栏样式
@import "variable.module";

#app .sidebar-wrapper {
  height: 100%;
  background-color: $sidebarColor;
  width: $sidebarWidth !important;

  .el-scrollbar {
    height: 100%;

    .el-scrollbar__wrap {
      overflow-x: hidden !important;
    }

    .el-menu {
      width: $sidebarWidth !important;

      .el-menu-item {

        &.is-active {
          >svg {
            color: $menuActiveText !important;
          }
        }
      }

      svg {
        color: $menuText;
      }
    }
  }
}
