@import "global.var";// 该文件会使用:root选择器添加全局CSS变量

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  //text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}

//强制继承父元素属性
*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

// 修改nprogress进度条颜色。
#nprogress .bar{
  background: var(--clr-prm-8) !important;
}
